* {
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#centerDiv {
	width: 65%;
	margin: auto;
	margin-top: 15px;
	height: 100%;
}
#subscribe {
	padding-left : 50px;
}